################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API_CORE/bin
/API_CORE/obj
/DAL/bin
/DAL/obj
/ENTITIES/obj
/ENTITIES/bin
/REDIS/bin
/REDIS/obj
/REPOSITORIES/bin
/REPOSITORIES/obj
/Utilities/bin
/Utilities/obj
